
group_appeals_galtan_parties.Rproj
.Rhistory
.Rproj.user/
.Rprofile
.Rsession
.Renviron

.env

.vscode/
*/**/*.ipynb
*/**/__pycache__/

.DS_Store
*/**/.DS_Store
*.docx
Icon?

#code
code/preproc/
code/**/xx_deprecated/
code/**/*.log
code/**/*.err
#R
#README.md
#renv.lock
#setup

qualtrix/
paper/
models/

data/
!data/annotations/group-mention-annotation-batch-01/*

results/**/checkpoints/
results/**/best_model/

admin/
docu/
notes/
renv/
venv/

Codebook/
Literature/
Missing\ Manifestos/
