
group_appeals_galtan_parties.Rproj
.Rhistory
.Rproj.user/
.Rprofile
.Rsession
.Renviron
.env
.vscode/

.DS_Store
*/**/.DS_Store
*.docx
Icon?

#code
code/preproc/
code/**/xx_deprecated/
code/**/*.log
code/**/*.err
#R
#README.md
#renv.lock
#setup

data/

docu/
notes/
renv/

Codebook/
Literature/
Missing\ Manifestos/
